

<!-- Home -->
<section id="home">

    <div id="home-cover" class="bg-parallax animated fadeIn">

        

    </div>

</section>

<div id="home-content-box">

    <div id="home-content-box-inner" class="text-center">

        <div id="home-heading" class="animated zoomIn">
            <h5>CSO regulatory platform!<br></h5>
            <h6>Complaince to regulations increases your chances of getting support from agencies/organisations<br></h6>
        </div>
        <div id="home-btn" class="animated zoomIn">
            <a class="btn btn-lg btn-general btn-white smooth-scroll" (click)="goToregistration()" role="button" title="View Our Work">Get Started</a>
        </div>

    </div>

</div>


