



<div class="container">
    <h3>Latest News</h3>
    <div class="grid">
        <div class="card">
            <div class="card_img">
                <img src="../../assets/img/guide.jpg" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">Complaince Trainings</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum porro, illum totam nostrum sit delectus nisi sint magni perspiciatis adipisci?</p>
              
                <a href="#" class="read_more">Read article</a>
            </div>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="../../assets/img/child.jpg" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">Child Educator</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio quidem, est labore earum reprehenderit quibusdam id iure delectus nemo.</p>
                
                <a href="#" class="read_more">Read article</a>
            </div>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="../../assets/img/jeremy.jpg" alt="">
            </div>
            <div class="card_body">
                <h2 class="card_title">Seminars</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio quidem, est labore earum reprehenderit quibusdam id iure delectus nemo.</p>
             
                <a href="#" class="read_more">Read article</a>
            </div>
        </div>
    </div>
</div>
