
    <main>
      
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="../..//img/img_logo.png"   alt="" />
                <h4></h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a (click)="goToLogin()" class="toggle">Sign in</a>
              </div>

              

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Confirm Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" />

                <p class="social-text">Or Sign up with social platforms</p>
                <div class="social-media">
                  <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f" style="color: blue;"></i>
                  </a>
                 
                 <a href="#" class="social-icon" >
                 <i class="fab fa-google" style="color: red;"></i>
                 </a>
               
                </div>

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="../../assets/img/give.jpg" class="image img-1 show" alt="" />
              <img src="./img/give.jpg" class="image img-2" alt="" />
              <img src="./img/together.jpg" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Impact someone</h2>
                  <h2>Make a change</h2>
                  <h2>Participate today</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  